
[user]
	name = rbtnn
	email = naru123456789@gmail.com

[http]
	sslverify = false

[core]
	autocrlf = false
	quotepath = false
	editor = vim -u NONE --noplugin
	excludesfile = ~/.gitignore.global

[alias]
	save=stash save
	pop=stash pop
	br=branch
	ci=commit
	co=checkout
	ls=ls-files
	lg=log --pretty=\"format:%C(yellow)%h %C(green)%cd %C(reset)%s\" --date=iso
	po=push -u origin
	st=status
	fu=fetch upstream
	mumr=merge upstream/master
	mumn=merge upstream/main

[color]
	diff = true
	status = true
	branch = true
	interactive = false

[help]
	format = man

[fetch]
	prune = true

[include]
	path = ~/.gitconfig.local

#[url "git@github.com:"]
#    pushInsteadOf = git://github.com/
#    pushInsteadOf = https://github.com/
#
#[credential]
#    helper = wincred

