
[include]
    path = ~/.gitconfig.local

[user]
  name = rbtnn
  email = naru123456789@gmail.com

[http]
    sslVerify = false

[core]
    autocrlf = false
    quotepath = false
    editor = vim -u NONE --noplugin
    excludesfile = ~/.gitignore.global

[alias]
    save=stash save
    pop=stash pop
    br=branch
    ci=commit
    co=checkout
    ls=ls-files
    lg=log --pretty=oneline --graph --abbrev-commit
    po=push -u origin
    st=status
    subpull=submodule foreach git pull origin master
    subst=submodule status
    subinit=submodule init
    subup=submodule update

[color]
    diff = true
    status = true
    branch = true
    interactive = false

[help]
    format = man

[credential]
    helper = wincred

;  vim: set ft=gitconfig ff=unix :
