[submodule ".vim/pack/my/start/vim-diffy"]
	path = .vim/pack/my/start/vim-diffy
	url = git@github.com:rbtnn/vim-diffy.git
[submodule ".vim/pack/my/start/vim-qfreplace"]
	path = .vim/pack/my/start/vim-qfreplace
	url = git@github.com:thinca/vim-qfreplace.git
[submodule ".vim/pack/my/start/tender.vim"]
	path = .vim/pack/my/start/tender.vim
	url = git@github.com:jacoborus/tender.vim.git
[submodule ".vim/pack/my/start/vim-quickrun"]
	path = .vim/pack/my/start/vim-quickrun
	url = git@github.com:thinca/vim-quickrun.git
[submodule ".vim/pack/my/start/vim-buffer"]
	path = .vim/pack/my/start/vim-buffer
	url = git@github.com:rbtnn/vim-buffer.git
