
.rnd
.CFUserTextEncoding
.ICEauthority
.Trash/
.Xauthority
.anaconda/
.asoundrc
.bash_history
.bash_logout
.bash_profile
.bash_sessions/
.bashrc
.cabal/
.cache/
.cargo/
.compiz/
.conda/
.condarc
.config/
.dart/
.dbus/
.dmrc
.dotnet/
.dropbox/
.electron/
.gem/
.ghc/
.gitconfig.local
.gstreamer-0.10/
.gtkrc-2.0
.keras/
.lldb/
.local/
.matplotlib/
.mono/
.mozilla/
.multirust/
.netrc
.node_repl_history
.npm/
.oracle_jre_usage/
.pki/
.profile
.psql_history
.pub-cache/
.python_history
.rustup/
.sh_history
.subversion/
.sudo_as_admin_successful
.templateengine/
.themes/
.viminfo
.vimrc.*
.xinputrc
.xsession-errors
.xsession-errors.old
3D Objects/
Anaconda3/
AppData/
Application Data/
Applications/
Contacts/
Cookies/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
IntelGraphicsProfiles/
Library/
Links/
Local Settings/
MicrosoftEdgeBackups/
Movies/
Music/
My Documents/
NetHood/
OneDrive/
Pictures/
PrintHood/
Public/
Recent/
Saved Games/
Searches/
SendTo/
Start Menu/
Templates/
Videos/
_viminfo
examples.desktop
go/
init.local.cmd
ntuser.*
python_games/
tags
tags-jp
vim-on-windows/
vimtemp/
vterm.lib
スタート メニュー/
