[submodule ".vim/pack/my/start/vim-diffy"]
	path = .vim/pack/my/start/vim-diffy
	url = https://github.com/rbtnn/vim-diffy.git
[submodule ".vim/pack/my/start/vim-qfreplace"]
	path = .vim/pack/my/opt/vim-qfreplace
	url = https://github.com/thinca/vim-qfreplace.git
[submodule ".vim/pack/my/start/vim-parenmatch"]
	path = .vim/pack/my/start/vim-parenmatch
	url = https://github.com/itchyny/vim-parenmatch.git
[submodule ".vim/pack/my/start/vim-close_scratch"]
	path = .vim/pack/my/start/vim-close_scratch
	url = https://github.com/rbtnn/vim-close_scratch.git
[submodule ".vim/pack/my/opt/vim-coloredit"]
	path = .vim/pack/my/opt/vim-coloredit
	url = https://github.com/rbtnn/vim-coloredit.git
