*.zip
.CFUserTextEncoding
.ICEauthority
.Trash/
.Xauthority
.anaconda/
.android/
.asoundrc
.bash_history
.bash_logout
.bash_profile
.bash_sessions/
.bashrc
.cabal/
.cache/
.cargo/
.cisco/
.compiz/
.conda/
.condarc
.config/
.dart/
.dbus/
.dmrc
.docker/
.dotnet/
.dropbox/
.electron/
.fern/
.ffmrw
.gem/
.ghc/
.ghost/
.git-for-windows-updater
.gitconfig.local
.gstreamer-0.10/
.gtkrc-2.0
.keras/
.lesshst
.lldb/
.local/
.matplotlib/
.mono/
.motd_shown
.mozilla/
.mrw
.multirust/
.netrc
.ngrok2/
.node_repl_history
.npm/
.oracle_jre_usage/
.pki/
.profile
.psql_history
.pub-cache/
.python_history
.rnd
.rustup/
.sh_history
.sqlite_history
.ssh/
.subversion/
.sudo_as_admin_successful
.templateengine/
.themes/
.thumbnails/
.vim/
.viminfo
.vimrc.*
.vuerc
.windows-build-tools/
.xinputrc
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompdump
.zsh_history
.zsh_sessions/
.zshenv
.zshrc
3D Objects/
Anaconda3/
AppData/
Application Data/
Applications/
Contacts/
Cookies/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
IntelGraphicsProfiles/
Library/
Links/
Local Settings/
MicrosoftEdgeBackups/
Movies/
Music/
My Documents/
My project (1)/
My project/
NetHood/
OneDrive/
Pictures/
PlasticSCMProject/
PrintHood/
Public/
Recent/
Saved Games/
Searches/
SendTo/
Start Menu/
Templates/
Videos/
_netrc
_viminfo
examples.desktop
go/
init.local.cmd
nightlybuild-tabsidebar-for-windows/
node_modules/
ntuser.*
python_games/
source/
tags
tags-jp
vrchat-avatars/
vterm.lib
yarn.lock
スタート メニュー/
